/*
 * NAME: toolbar panel
 * AUTHOR: caterpillar, 2014+
 * REM: -webkit only prefixes
 ****************/
.toolbar-panel {
	position:fixed;
	z-index:3001;
	top:0;
	right:0;
	padding:5px;
	background:#fff;
	color:#000;
	opacity:.5;
	height:6px;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	-webkit-box-shadow:0 0 2px #000;
	box-shadow:0 0 2px #000;
	font:12px/1.2 sans-serif;
	}
	.toolbar-panel:hover {
		opacity:1;
		right:40px;
		}
	.toolbar-panel a {
		color:#ccc;
		text-decoration:none;
		}
.toolbar-panel.toolbar-panel--initialized {
	-webkit-transition:all .5s ease;
	transition:all .5s ease;
	}
.toolbar-panel__header {
	display:inline-block;
	*display:inline;
	*zoom:1;
	vertical-align:top;
	background:#fff;
	line-height:6px;
	font-size:10px;
	}
.toolbar-panel__content {
	position:absolute;
	z-index:3000;
	top:0;
	right:-40px;
	width:30px;
	background:#fff;
	padding:5px;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
	}
	.toolbar-panel__content:before {
		content:" ";
		position:absolute;
		top:0;
		left:-3px;
		width:3px;
		height:16px;
		background:#fff;
		}
.toolbar-panel:hover .toolbar-panel__content {
	box-shadow:0 0 2px #000;
	}
.toolbar-control {
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:30px;
	font:12px/16px arial, sans-serif;
	padding:7px 0;
	text-align:center;
	color:#ccc !important;
	margin:0 5px 0 0;
	background:#333;
	-webkit-transition:all .25s ease;
	transition:all .25s ease;
	}
	.toolbar-control:hover {
		color:#fff !important;
	}
.toolbar-control.toolbar-control--cssReloader {
	background:#080;
	}
	.toolbar-control.toolbar-control--cssReloader:hover {
		background:#0c0;
		}
.toolbar-control.toolbar-control--showBackground {
	background:#888;
	}
	.toolbar-control.toolbar-control--showBackground:hover {
		background:#ccc;
		}
.toolbar-control.toolbar-control--doJS {
	background:#800;
	}
	.toolbar-control.toolbar-control--doJS:hover {
		background:#c00;
		}
/* backgrounds part */
body.toolbar-background-0 {
	background:#000;
}
/* taken from http://lea.verou.me/css3patterns/ */
body.toolbar-background-1 {
	background-color: #fff;
	background-image: linear-gradient(45deg, #cbcbcb 25%, transparent 25%, transparent 75%, #cbcbcb 75%, #cbcbcb), 
		linear-gradient(45deg, #cbcbcb 25%, transparent 25%, transparent 75%, #cbcbcb 75%, #cbcbcb);
	background-size:16px 16px;
	background-position:0 0, 8px 8px;
}
body.toolbar-background-2 {
	background-color: #026873;
	background-image: linear-gradient(90deg, rgba(255,255,255,.07) 50%, transparent 50%),
		linear-gradient(90deg, rgba(255,255,255,.13) 50%, transparent 50%),
		linear-gradient(90deg, transparent 50%, rgba(255,255,255,.17) 50%),
		linear-gradient(90deg, transparent 50%, rgba(255,255,255,.19) 50%);
	background-size: 13px, 29px, 37px, 53px;
}



